/* ====== Small Device - Phone ======= */
@media screen and (max-width: 576px) {
  /*====== Header Section==== */

  /* Nav Manu */
  .nav-container {
    flex-direction: column;
    padding-top: 2rem;
  }
  .logo,
  .features-title {
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .logo > span {
    font-size: 45px;
  }
  .navigation-manu {
    width: 90vw;
    justify-content: space-between;
  }
  .navigation-manu > li {
    margin: 0 0;
    font-size: 1rem;
  }

  /* Header Content & Banner */
  .banner-container {
    margin: 3rem 0;
  }
  .header-content {
    max-width: 95%;
  }
  .header-title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  br {
    display: none;
  }
  .description-text {
    padding: 0 10px;
  }
  .btn-primary {
    margin: 1.5rem 0 2rem 0;
    width: 9rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  /* ===== Main/Body Contents Section Start ===== */
  /* Features Section */
  .features-container {
    margin-bottom: 2rem;
    flex-direction: column-reverse;
    padding: 10px;
  }
  .features-image-grid {
    gap: 1rem;
  }

  /* Working Area/Fields */
  .working-area-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .working-field {
    padding: 15px;
  }
  .working-area-header-container > h1 {
    max-width: 360px;
  }
  .working-field:last-child {
    margin: auto;
  }
  .working-area-image {
    display: flex;
    flex-direction: column-reverse;
  }
  .experience-stiker {

    border-radius: 80px 0px;
    left: 10px;
    bottom: -100px;
  }
}

/* ======= Medium Device- Phone/Tab. */
@media screen and (min-width: 576.2px) and (max-width: 768px) {
  /*====== Header Section==== */

  /* Nav Manu */
  .nav-container {
    flex-direction: column;
    padding-top: 2rem;
  }
  .logo {
    margin-bottom: 15px;
  }

  .navigation-manu {
    width: 90vw;
    justify-content: space-around;
  }
  .navigation-manu > li {
    margin: 0 0;
    font-size: 1.125rem;
  }
  /* Header Content & Banner */
  .banner-container {
    margin: 3rem 0;
  }
  .header-content {
    max-width: 95%;
  }
  .header-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
  br {
    display: none;
  }
  .description-text {
    padding: 0 10px;
  }
  .btn-primary {
    margin: 1.5rem 0 2rem 0;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.125rem;
  }
  /* ===== Main/Body Contents Section Start ===== */
  /* Features Section */

  .features-title {
    margin: auto;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  /* Working Area/Fields */
  .working-area-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .working-field {
    padding: 15px;
  }
  .working-area-header-container > h1 {
    max-width: 450px;
  }
  .working-field:last-child {
    margin: auto;
  }
  .working-area-image {
    display: flex;
    flex-direction: column-reverse;
  }

  .experience-stiker {
    width: 340px;
    height: 200px;
    border-radius: 80px 0px;
    left: 25%;
    bottom: -100px;
  }
}

/* ======Learge Device- Tablates/Laptops  */
@media screen and (min-width: 768.2px) and (max-width: 992px) {
  /*====== Header Section==== */

  /* Nav Manu */
  .navigation-manu {
    flex: 0 0 55%;
  }
  .navigation-manu > li {
    margin: auto;
  }
  .logo {
    flex: 0 0 40%;
    font-size: 2.5rem;
    margin: auto;
  }
  /* Header Content & Banner */
  .banner-container {
    margin-top: 3rem;
  }
  .header-content {
    max-width: 95%;
  }
  .header-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }

  .btn-primary {
    margin: 1.5rem 0 2rem 0;
    width: 11rem;
    /* height: 3.5rem; */
    font-size: 1.125rem;
  }
  /* ===== Main/Body Contents Section Start ===== */

  /* Working Area/Fields */
  .working-area-container {
    align-items: center;
    padding: 0 20px;
  }
  .working-field {
    padding: 15px;
  }
  .working-area-header-container > h1 {
    max-width: 450px;
  }
  .working-field:last-child {
    margin: auto;
  }
  .working-area-content {
    flex: 0 0 50%;
  }
  .working-area-image {
    align-self: center;
    flex: 0 0 45%;
  }
  .experience-stiker {
    width: 340px;
    height: 200px;
    left: 0;
    bottom: 65px;
  }
}
/* ==== EXtra ==== */
@media screen and (min-width: 992.2px) and (max-width: 1100px) {
  .header-title {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

/* Working Area/Fields */
.working-area-container {
  align-items: center;
  padding: 0 20px;
}
.working-area-content {
  flex: 0 0 50%;
}
.working-area-image {
  align-self: flex-end;
  flex: 0 0 45%;
}
.experience-stiker {
  width: 340px;
  height: 200px;
  border-radius: 80px 0px;
  left: 0;
  bottom: 100px;
}

}
